/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e fundo do site */
body {
    background-image: url(W9dC.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Cabeçalho */
header {
    background-color: #000000; /* Cor de fundo do cabeçalho */
    color: white;           /* Cor do texto */
    padding: 15px;
    text-align: center;
}

/* Menu de navegação */
header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Área dos produtos */
.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

/* Cartão do produto */
.produto {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/* Imagem do produto */
.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Nome do produto */
.produto h2 {
    font-size: 1.1em;
    margin: 10px 0;
}

/* Preço */
.produto p {
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 10px;
}

/* Botão de compra */
.produto button {
    background-color: #00106d; /* Verde */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.produto button:hover {
    background-color: #218838; /* Verde mais escuro quando passa o mouse */
}

/* Rodapé */
footer {
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 40px;
}
